button {
    background-color: #1abc9c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:4px;
    font-family: 'Cherry Swash', cursive;
    align-self: center;
  
  }
  body{
      background-repeat: repeat-y;
      background-position: right top;
      background-attachment: fixed;
      margin-left: 300px;
      
        
        /*color:#ffecdb;*/
      /*color:white;*/
      /*margin-bottom: 80px;*/
      overflow-x:hidden;
      font-size: 12px;
      font-family: 'Cherry Swash', cursive;
      /*background: #2c3e50;*/
      background-color: whitesmoke;
      color:#2c3e50;
  
  
  
  }